@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
body {
    background-image: url("brickwall.png");
  background-position: center center;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  margin: auto;
}
div.business-card {
  height: 427px;
  width: 320px;
  margin-left: -160px;
  margin-top: -213.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-perspective: 1000;
  perspective: 1000;
}
div.business-card:hover .flipper, div.business-card.hover .flipper {
  -webkit-transform: rotateY(180deg) rotateZ(90deg);
  transform: rotateY(180deg) rotateZ(90deg);
}
div.flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  -webkit-transform-origin: center 160px;
  transform-origin: center 160px;
}
div.front, div.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 427px;
  width: 320px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
}
div.front {
  background-color: #e9ece5;
  z-index: 0;
}
div.front:before, div.front:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-width: 160px;
  border-style: solid;
  border-color: transparent;
}
div.front:before {
  border-top-color: #b3c2bf;
  border-left-color: #3b3a36;
  z-index: 2;
}
div.front:after {
  border-top-color: #3b3a36;
  border-right-color: #3b3a36;
}
div.front div.name {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
div.front div.name span {
  display: block;
  font-size: 40px;
  line-height: 45px;
}
div.front div.name span.first {
  color: #3b3a36;
}
div.front div.name span.last {
  color: #b3c2bf;
}
div.front div.name span.title {
  font-size: 20px;
  line-height: 20px;
}
div.back {
  background-color: #b3c2bf;
  color: #3b3a36;
  width: 427px;
  height: 320px;
  box-sizing: border-box;
  padding-left: 20px;
  -webkit-transform: rotateY(180deg) rotateZ(90deg);
  transform: rotateY(180deg) rotateZ(90deg);
}
div.back div.container-sm {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}
div.back div.container-lg {
  float: left;
  width: 100%;
  margin-top: 2rem;
}
div.back a {
  color: #3b3a36;
  text-decoration: none;
  display: block;
}
div.back a:hover {
  text-decoration: underline;
}
div.back ul.social {
  font-size: 1.25rem;
  /*left: 100px;*/
}
div.back ul.social li {
  margin-top: 1rem;
}
div.back ul.social li:first-child {
  margin-top: 2rem;
}

a:hover {
    cursor: pointer;
}



/*PROJECTS PAGE*/

.projectsPage {
    margin: 0 auto;
    padding: 2%;
}
.project-container {
  height: 180px;
  width: 70%;
  background: #fafafa;
  min-width: 300px;
  float: left;
  margin: 12px 0;
  position: relative;
}
.project-container h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.project-container h5 {
  margin-top: 0px;
}
.project-img {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  float: left;
  margin-right: 15px;
}
.project-description {
  margin: 0 15px;
}
.project-description > p {
  overflow-y: hidden;
  max-height: 70px;
  margin: 0 0 4px 0;
}
.project-description > p:after {
  content: "...";
  position: absolute;
  top: 101px;
  right: 15px;
  background: #fafafa;
  padding-left: 5px;
}
.btn-view {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0;
  padding: 5px;
  background-color: #b3c2bf;
}
#project-img-1 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image198.jpg');
}
#project-img-2 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image199.jpg');
}
#project-img-3 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image200.jpg');
}
#project-img-4 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image201.jpg');
}
#project-img-5 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image202.jpg');
}
#project-img-6 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image203.jpg');
}
#project-img-7 {
  background-image: url('http://www.thewhatifconference.com/img/cphotos/sm/Image204.jpg');
}


/*BUTTON*/
section button {
  /*margin: 0 auto;*/
  font-size: 14px;
  padding: 14px;
  display: block;
  background-color: #b3c2bf;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

section button:hover {
  background-color: #ffffff;
  color: #b3c2bf;
  border-color: #b3c2bf;
  cursor: pointer;
  outline: none;
}
